<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC
  "-//APACHE//DTD LOG4J 1.2//EN" "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    
     <appender name="project" class="org.apache.log4j.DailyRollingFileAppender">
   		<param name="File" value="/logs/nasa.project.log" />
        <param name="Append" value="true" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss}:%p %t %c %l - %m%n" />
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMax" value="ERROR" />
            <param name="LevelMin" value="DEBUG" />
        </filter>
    </appender>
    
    <appender name="errorlog" class="org.apache.log4j.DailyRollingFileAppender">
   		<param name="File" value="/logs/nasa.error.log" />
        <param name="Append" value="true" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss}:%p %t %c %l - %m%n" />
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMax" value="ERROR" />
            <param name="LevelMin" value="ERROR" />
        </filter>
    </appender>
    
      <appender name="warnlog" class="org.apache.log4j.DailyRollingFileAppender">
   		<param name="File" value="/logs/nasa.warnlog.log" />
        <param name="Append" value="true" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss}:%p %t %c %l - %m%n" />
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMax" value="ERROR" />
            <param name="LevelMin" value="ERROR" />
        </filter>
    </appender>
    
    <appender name="infolog" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="/logs/nasa.info.log" />
        <param name="Append" value="true" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss}:%p %t %c %l - %m%n" />
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="INFO" />
            <param name="LevelMax" value="INFO" />
        </filter>
    </appender>
    
    <appender name="debuglog" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="/logs/nasa.debug.log" />
        <param name="Append" value="true" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss}:%p %t %c %l - %m%n" />
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="INFO" />
            <param name="LevelMax" value="INFO" />
        </filter>
    </appender>
    
    <appender name="sqllog" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="/logs/nasa.sql.log" />
        <param name="Append" value="true" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss}:%p %t %c %l - %m%n" />
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMax" value="ERROR" />
            <param name="LevelMin" value="ERROR" />
        </filter>
    </appender>
    
     <appender name="taskLog" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="/logs/nasa.taskLog.log" />
        <param name="Append" value="true" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss}:%p %t %c %l - %m%n" />
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMax" value="ERROR" />
            <param name="LevelMin" value="DEBUG" />
        </filter>
    </appender>
    
    <logger name="com.cn.nasa.task" additivity="false">
        <appender-ref ref="taskLog" /> 
    </logger>
    
    <logger name="com.cn.nasa" additivity="false">
        <appender-ref ref="errorlog" /> 
        <appender-ref ref="infolog" /> 
    </logger>
    <!-- 3rdparty Loggers -->
    <logger name="org.springframework" additivity="false">
        <appender-ref ref="warnlog" /> 
        <appender-ref ref="errorlog" /> 
    </logger>
    
    <logger name="org.apache.commons" additivity="false">
        <appender-ref ref="errorlog" /> 
    </logger>
    
    <logger name="org.mybatis.spring" additivity="false"> 
        <appender-ref ref="sqllog" /> 
    </logger>
    
    <logger name="com.alibaba.druid" additivity="false">
        <appender-ref ref="sqllog" /> 
    </logger>
    
    <root>
        <appender-ref ref="project" />
    </root>
</log4j:configuration>