<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.mensheng.mapper.ExamMapper">
  <resultMap id="BaseResultMap" type="com.cn.mensheng.dto.Exam">
    <id column="examId" jdbcType="INTEGER" property="examId" />
    <result column="stuId" jdbcType="INTEGER" property="stuId" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="weight" jdbcType="REAL" property="weight" />
    <result column="examDate" jdbcType="TIMESTAMP" property="examDate" />
    <result column="correctRate" jdbcType="REAL" property="correctRate" />
    <result column="beginTime" jdbcType="TIMESTAMP" property="beginTime" />
    <result column="endTime" jdbcType="TIMESTAMP" property="endTime" />
    <result column="grade" jdbcType="REAL" property="grade" />
    <result column="examType" jdbcType="VARCHAR" property="examType" />
  </resultMap>
  <sql id="Base_Column_List">
    examId, stuId, remarks, weight, examDate, correctRate, beginTime, endTime, grade, 
    examType
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from exam
    where examId = #{examId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from exam
    where examId = #{examId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cn.mensheng.dto.Exam">
    insert into exam (examId, stuId, remarks, 
      weight, examDate, correctRate, 
      beginTime, endTime, grade, 
      examType)
    values (#{examId,jdbcType=INTEGER}, #{stuId,jdbcType=INTEGER}, #{remarks,jdbcType=VARCHAR}, 
      #{weight,jdbcType=REAL}, #{examDate,jdbcType=TIMESTAMP}, #{correctRate,jdbcType=REAL}, 
      #{beginTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, #{grade,jdbcType=REAL}, 
      #{examType,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cn.mensheng.dto.Exam">
    insert into exam
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="examId != null">
        examId,
      </if>
      <if test="stuId != null">
        stuId,
      </if>
      <if test="remarks != null">
        remarks,
      </if>
      <if test="weight != null">
        weight,
      </if>
      <if test="examDate != null">
        examDate,
      </if>
      <if test="correctRate != null">
        correctRate,
      </if>
      <if test="beginTime != null">
        beginTime,
      </if>
      <if test="endTime != null">
        endTime,
      </if>
      <if test="grade != null">
        grade,
      </if>
      <if test="examType != null">
        examType,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="examId != null">
        #{examId,jdbcType=INTEGER},
      </if>
      <if test="stuId != null">
        #{stuId,jdbcType=INTEGER},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="weight != null">
        #{weight,jdbcType=REAL},
      </if>
      <if test="examDate != null">
        #{examDate,jdbcType=TIMESTAMP},
      </if>
      <if test="correctRate != null">
        #{correctRate,jdbcType=REAL},
      </if>
      <if test="beginTime != null">
        #{beginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="grade != null">
        #{grade,jdbcType=REAL},
      </if>
      <if test="examType != null">
        #{examType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cn.mensheng.dto.Exam">
    update exam
    <set>
      <if test="stuId != null">
        stuId = #{stuId,jdbcType=INTEGER},
      </if>
      <if test="remarks != null">
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="weight != null">
        weight = #{weight,jdbcType=REAL},
      </if>
      <if test="examDate != null">
        examDate = #{examDate,jdbcType=TIMESTAMP},
      </if>
      <if test="correctRate != null">
        correctRate = #{correctRate,jdbcType=REAL},
      </if>
      <if test="beginTime != null">
        beginTime = #{beginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        endTime = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="grade != null">
        grade = #{grade,jdbcType=REAL},
      </if>
      <if test="examType != null">
        examType = #{examType,jdbcType=VARCHAR},
      </if>
    </set>
    where examId = #{examId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cn.mensheng.dto.Exam">
    update exam
    set stuId = #{stuId,jdbcType=INTEGER},
      remarks = #{remarks,jdbcType=VARCHAR},
      weight = #{weight,jdbcType=REAL},
      examDate = #{examDate,jdbcType=TIMESTAMP},
      correctRate = #{correctRate,jdbcType=REAL},
      beginTime = #{beginTime,jdbcType=TIMESTAMP},
      endTime = #{endTime,jdbcType=TIMESTAMP},
      grade = #{grade,jdbcType=REAL},
      examType = #{examType,jdbcType=VARCHAR}
    where examId = #{examId,jdbcType=INTEGER}
  </update>
</mapper>